/*.App{*/
/*    background-image: url("./public/fon_sayta.png")*/
/*}*/

.banner{
    position: relative;
    width: 1196px;
    height: 277px;
    left: calc(50% - 1196px/2);
    top: 132px;
    overflow: hidden;

    /* Dark */
    background: #3A3E47;
    border-radius: 16px;
}

.bannerMobile{
    position: relative;
    width: 300px;

    /* Dark */
    background: #3A3E47;
    border-radius: 0 16px 16px 0;
}

.banner-img{
    max-width: 100% !important;
    height: auto;
    width: auto;
    margin-left: 26.2%;
    overflow: hidden;

    top: auto;
}
.banner-img img{
    margin-top: -10vw;
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.name{
    position: absolute;
    width: 100%;
    height: 45px;
    left: 122px;
    top: 35%;

    /*!* 'Inter', sans-serif bold 36 *!*/
    /*font-family: 'Fashion Fetish Light', sans-serif;*/
    font-style: normal;
    font-weight: lighter;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    background: linear-gradient(273.73deg, #FBCF69 14.77%, #FFFBD0 38.38%, #FEEDB0 52.43%, #FBCF69 83.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nameMobile{
    position: relative;
    width: 271px;
    height: 40px;
    margin-top: 100px;
    justify-content: space-around;

    /* 'Inter', sans-serif bold 36 */
    /*font-family: 'Fashion Fetish Light', sans-serif;*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    align-items: center;

    background: linear-gradient(273.73deg, #FBCF69 14.77%, #FFFBD0 38.38%, #FEEDB0 52.43%, #FBCF69 83.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc{
    position: absolute;
    width: 100%;
    height: 23px;
    left: 124px;
    top: 60%;

    /* 'Inter', sans-serif regular 16 */
    /*font-family: 'Fashion Fetish Light', sans-serif;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;

    /* or 25px */
    display: flex;
    align-items: center;

    background: linear-gradient(273.73deg, #FBCF69 14.77%, #FFFBD0 38.38%, #FEEDB0 52.43%, #FBCF69 83.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descMobile{
    position: relative;
    width: 180px;
    height: 23px;
    margin: auto;
    justify-content: space-around;

    /* 'Inter', sans-serif regular 16 */
    /*font-family: 'Fashion Fetish Light', sans-serif;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155%;

    /* or 25px */
    display: flex;
    align-items: center;

    background: linear-gradient(273.73deg, #FBCF69 14.77%, #FFFBD0 38.38%, #FEEDB0 52.43%, #FBCF69 83.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



