@font-face {
    font-family:"Fashion Fetish Light";
    font-weight: normal;
    font-style:normal;
    src:url("../../../src/static/fonts/Fashion Fetish Regular.ttf");
}
.link{
    position: relative;
    top: 92.5px;

    width: 1196px;
    margin-left: 1%;
    text-align: left;
}

.intro{
    position: relative;
    width: 1196px;
    left: calc(50% - 1196px/2);
    top: 150px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}

.intro{
    font-family:"Fashion Fetish Light";
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}

.introMobile{
    font-family:"Fashion Fetish Light";
    position: relative;
    margin-top: 150px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}
.text{
    font-family:"Fashion Fetish Light";
    /*font-style: normal;*/
    font-weight: lighter;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    /* Ink */
    color: #27282B;

    padding-top: 72px;
}

.loader {
    position: relative;
    margin-top: 25vh;
    margin-left: 50vw;
    border: 16px solid #fff; /* Light grey */
    border-top: 16px solid #000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

