@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style:normal;
    src:url("../../../src/static/fonts/Fashion Fetish Regular.ttf");
}
.link{
    position: relative;
    top: 92.5px;
    width: 100%;
    margin-left: 1%;
    text-align: left;
}

.intro{
    position: relative;
    width: 1196px;
    left: calc(50% - 1196px/2);
    top: 150px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}

.intro{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}

.introMobile{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: 150px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}
.text{
    font-family: 'Montserrat', sans-serif;
    /*font-style: normal;*/
    font-weight: lighter;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    /* Ink */
    color: #27282B;

    padding-top: 72px;
}

.btnLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: inherit;
	width: 100%;
}
.btnLoader span {
  --dot1: #788c9f;
  --dot2: #788c9f33;
  --dot3: #788c9f66;
  --dot4: #788c9fb3;
  --duration: 700ms;
  --easing: linear;
  --delay: 1ms;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.btnLoader span:nth-child(1) {
  background-color: var(--dot1);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash1;
}
.btnLoader span:nth-child(2) {
  background-color: var(--dot2);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash2;
}
.btnLoader span:nth-child(3) {
  background-color: var(--dot3);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash3;
}
.btnLoader span:nth-child(4) {
  background-color: var(--dot4);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash4;
}

@keyframes flash1 {
  0%, 100% { background-color: var(--dot1) }
  25% { background-color: var(--dot2) }
  50% { background-color: var(--dot3) }
  75% { background-color: var(--dot4) }
}
@keyframes flash2 {
  0%, 100% { background-color: var(--dot4) }
  25% { background-color: var(--dot1) }
  50% { background-color: var(--dot2) }
  75% { background-color: var(--dot3) }
}
@keyframes flash3 {
  0%, 100% { background-color: var(--dot3) }
  25% { background-color: var(--dot4) }
  50% { background-color: var(--dot1) }
  75% { background-color: var(--dot2) }
}
@keyframes flash4 {
  0%, 100% { background-color: var(--dot2) }
  25% { background-color: var(--dot3) }
  50% { background-color: var(--dot4) }
  75% { background-color: var(--dot1) }
}

