.link{
    position: relative;
    top: 92.5px;

    width: 1196px;
    margin-left: 1%;
    text-align: left;
}

.intro{
    position: relative;
    width: 1196px;
    left: calc(50% - 1196px/2);
    top: 150px;
    margin-bottom: 48px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: left;

    /* or 25px */
    display: flex;


}
.text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    /* Ink */
    color: #27282B;

    padding-top: 72px;
}

