.footer{
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    min-width: 100vw;
    min-height: 100px;
    /* Dark */
    background: #3A3E47;
}

.footerlogo{
    position: fixed;
    bottom: 3%;
    left: 121px;
}